[2015-09-08 20:48] jonparrott opened #6 "Homepage sample for pubsub does not work"
[Original issue](https://github.com/GoogleCloudPlatform/gcloud-python/issues/1127)

[2015-09-08 20:53] dhermes commented on #6
/cc @jpvic

[2015-09-10 16:38] jonparrott commented on #6
This has been fixed. Closing, feel free to comment if you still have issues @jpvic

[2015-09-10 20:50] jpvic commented on #6
The typo is corrected.

from gcloud import pubsub

client = pubsub.Client(project='your-project-id')
topic = client.topic('your-topic-name')

topic.publish('Ping!')

subscription = topic.subscription('your-subscription-name')

messages = subscription.pull()

for ackid, message in messages:
    print message.data

subscription.acknowledge([ackid for ackid, _ in messages])

the  examples ends with t

[2015-09-10 20:54] jonparrott commented on #6
I'm not able to reproduce that, can you tell me your gcloud version and full python version?

[2015-09-10 21:02] jpvic commented on #6
# python -c 'import sys; print(sys.version)'
2.7.10 (default, Jul  5 2015, 14:15:43)
[GCC 5.1.1 20150618 (Red Hat 5.1.1-4)]

# pip show gcloud
---
Metadata-Version: 1.1
Name: gcloud
Version: 0.7.1
Summary: API Client library for Google Cloud
Home-page: https://github.com/GoogleCloudPlatform/gcloud-python
Author: Google Cloud Platform
Author-email: jjg+gcloud-python@google.com
License: Apache 2.0

[2015-09-10 21:03] jonparrott commented on #6
Thanks, did you create a topic and subscription before running the sample?

[2015-09-10 21:05] dhermes commented on #6
It seems we could do a better job catching the error instead of trying to `json` decode something that is invalid. @jpvic Could you provide the whole stack trace?

If you could, use triple backticks to format the stacktrace (easier on the eyes). Or @jonparrott could edit your post to add the formatting.

[2015-09-10 21:08] jonparrott commented on #6
edited.

[2015-09-10 21:08] jpvic commented on #6
indeed. I used the topic and subscription of my project.  I do use the messaging platform with no problems in the project.
In my project I use httplib2.http() ....  and that works.
But the easy code proposed with the same topic and subscription doesn't work.

[2015-09-10 21:21] jpvic commented on #6
the code on found  : https://cloud.google.com/python/

from gcloud import pubsub

client = pubsub.Client(project='your-project-id')
topic = client.topic('your-topic-name')

topic.publish('Ping!')

subscription = topic.subscription('your-subscription-name')

messages = subscription.pull()

for ackid, message in messages:
    print message.data

subscription.acknowledge([ackid for ackid, _ in messag

[2015-09-14 16:45] jonparrott commented on #6
Can you try with a new topic/subscription? The subscription should be pull subscription. You can create them with these gcloud commands:

[code]

[2015-09-14 20:29] jpvic commented on #6
I didn't created the original topic with gcloud command

I retried with with the proposed command : ( watch out typo 'subcriptions' ==> subscriptions )

from gcloud import pubsub
import errno

client = pubsub.Client(project='demoproject')
topic = client.topic('projects/demoproject/topics/demotopic')

try:
    topic.publish('Ping!')
except errno as e:
    print(e)

subscription = topic.subscription

[2015-09-14 20:31] jonparrott commented on #6
@dhermes any ideas?

[2015-09-14 20:33] dhermes commented on #6
@jonparrott Can you format the above stacktrace with triple quotes (I don't have edit privileges)?

Yes, I think the error payload is HTML only, we [have a flag][1] `use_json=True` which is only used for the discovery-based APIs.

It's possible here that his payload is a more generic error, I'd need a debugger to actually find out, but I can try to reproduce myself as well (pending the code format

[2015-09-14 20:41] jonparrott commented on #6
Done, and I couldn't reproduce it on my end.

[2015-09-24 17:08] broady opened #7 "health checker command needs --port 8080"

[2015-09-25 17:05] jonparrott commented on #7
Fixed.

[2015-09-25 17:05] #7 closed

[2015-10-12 20:05] shun-fan opened #8 "Error when clicking "more" and having exactly 10 books."
Deploy part 2 - using datastore > visit /books > click "more" > Internal server error

[2015-10-12 20:13] jonparrott commented on #8
Can you send over any stacktrace? Does this occur locally?

On Mon, Oct 12, 2015 at 1:05 PM Shun Fan <notifications@github.com> wrote:

[2015-10-12 20:20] shun-fan commented on #8
Seems to happen locally as well.

127.0.0.1 - - [12/Oct/2015 13:18:27] "GET /books/?page_token=CkUKEwoFdGl0bGUSChoIdGhlb2RvcmUSKmoVc35iaWd0YWJsZS1zZmFuLXRlc3QxchELEgRCb29rGICAgIC+goMKDBgAIAA= HTTP/1.1" 500 -
Traceback (most recent call last):
  File "/Users/sfan/.homebrew/lib/python2.7/site-packages/flask/app.py", line 1836, in __call__
    return self.wsgi_app(environ, start_response)
  File "/Us

[2015-10-12 20:21] jonparrott commented on #8
Thanks! Will investigate.

On Mon, Oct 12, 2015 at 1:20 PM Shun Fan <notifications@github.com> wrote:

[2015-10-12 20:26] shun-fan commented on #8
https://github.com/GoogleCloudPlatform/getting-started-python/blob/master/bookshelf/model_datastore.py#L56
I think it has to do with this line. You return a token if there are 10 books, but if there are exactly 10 books, it will try to load an additional page when there aren't any more books.
Seems like there should be the same issue in the cloudsql backend.

[2015-10-13 17:12] jonparrott commented on #8
@dhermes sigh, cursors aren't encoded with the urlsafe base64 encoding. Is there any reason for this? Should user apps just explicitly translate to urlsafe or do you feel like this should be fixed in gcloud-python?

[2015-10-14 00:10] dhermes commented on #8
Here's your ~~sign~~ line:
https://github.com/GoogleCloudPlatform/gcloud-python/blob/7e999cfb0af59712a4106c51b63325b5b63addaa/gcloud/datastore/query.py#L424

[2015-10-14 00:11] dhermes commented on #8
I don't have an opinion on urlsafe vs. regular b64. Maybe someone else does?

[2015-10-14 00:13] jonparrott commented on #8
I have a pretty strong opinion that we should use urlsafe, especially given the context that a cursor is very often passed around via URLs or forms.

Also, ndb's cursors [objects that serialize to urlsafe b64](https://cloud.google.com/appengine/docs/python/ndb/queries#cursors), so pleaseeeeee? :D

[2015-10-14 06:24] dhermes commented on #8
I'm super busy for the next 7-10 days. Care to send a PR (I can code review from my phone on public transit, can't write code though)?

[2015-10-14 16:55] jonparrott commented on #8
Absolutely. Thanks!

[2015-10-14 18:48] dhermes commented on #8
:+1: Thank YOU Jon

[2015-10-29 21:54] jonparrott commented on #8
Closing this, as it should be fixed upstream.

[2015-10-29 21:54] #8 closed

[2015-11-05 21:43] SurferJeffAtGoogle opened #9 "HTTP GET /books/id/delete modifies server state."
According to the HTTP standard, HTTP GET requests must not modify server state.
The delete controller modifies server state with a simple GET.  This is wrong.  Bots will delete books unintentionally.  We should switch the request to a POST.

[2015-12-03 17:56] theacodes opened #16 "Add SeaSurf and Talisman"

[2016-01-08 18:14] jonparrott opened #19 "Remove entrypoint from 1-hello-world."

[2016-02-10 17:09] #19 closed

[2016-02-19 18:25] jonparrott commented on #6
These samples have been removed, so I'm closing this issue.

[2016-02-19 18:25] #6 closed

[2016-03-22 17:40] steren opened #38 "cannot run main.py in 7-gce: HttpAccessTokenRefreshError: No JSON object could be decoded"
I follow the instructions on https://cloud.google.com/python/getting-started/run-on-compute-engine
(+ added my client ID and client secret)

(env) steren@steren-tests-error-gce:~/getting-started-python/7-gce$ python main.py
INFO:oauth2client.client:Attempting refresh to obtain initial access_token
Traceback (most recent call last):
  File "main.py", line 28, in <module>
    books_queue = bookshelf

[2016-03-22 17:42] waprin commented on #38
Thank you for reporting your issue. We are a bit busy this week with GCP Next but I'l try to investigate your problem as soon as possible

[2016-03-22 17:46] jonparrott commented on #38
Can you confirm which version of oauth2client is installed?

[2016-03-22 18:05] steren commented on #38
I use the one in requirements.txt: oauth2client==1.5.2

I am not sure how to verify it.
I see this folder: env/lib/python2.7/site-packages/oauth2client/oauth2client-1.5.2.dist-info

so I guess it is 1.5.2

[2016-03-22 18:09] jonparrott commented on #38
Yeah, there's a bug in 1.5.2 that prevents GCE credentials from working. We're working on a large update to this that should fix that, but you should be able to just update oauth2client and google-api-python-client to the latest versions and it should work.

[2016-03-22 18:15] steren commented on #38
I will try this.
I think it's rather urgent for you to update the example, because the tutorial is currently broken.

[2016-03-22 18:17] jonparrott commented on #38
We're working on it, see PR #37.

[2016-03-22 18:28] steren commented on #38
updating to the latest version introduces another error:
    from oauth2client.flask_util import UserOAuth2
ImportError: No module named flask_util

I also needed to change in __init__.py:
from oauth2client.contrib.flask_util import UserOAuth2

[2016-03-22 18:29] jonparrott commented on #38
Cool, does everything work from there?

[2016-03-22 19:01] steren commented on #38
Yes. I could make it run on a GCE instance.
Thanks

[2016-03-29 03:41] #38 closed

[2016-04-02 11:29] b-cannon opened #40 "Auth issue"
Going through the tutorial and everything went fine until section 4-auth.  I deployed it, and when I try to log in, I get '502 Bad Gateway'.  I didn't change anything.  One thing in the tutorial I did have to change in the settings for authorized redirect uri, it wasn't working with  https://....appspot.com, but did work when I changed it to http://.....appspot.com

[2016-04-03 00:42] tutnes commented on #40
I am having auth issues as well.

[2016-04-05 01:20] waprin commented on #40
Reproduced the 502, also had another error before that on json decodes for Python3. Will try to get this fixed asap, thanks for report.

[2016-04-07 07:45] beyondns opened #47 "Local mysql server database initialization"
DATA_BACKEND = 'cloudsql'
SQLALCHEMY_DATABASE_URI = \
    'mysql+pymysql://root:xxxxxx@127.0.0.1/mydata'

run local python main.py
http request gives this:

sqlalchemy.exc.ProgrammingError
ProgrammingError: (pymysql.err.ProgrammingError) (1146, u"Table 'mydata.books' doesn't exist") [SQL: u'SELECT books.id AS books_id, books.title AS books_title, books.author AS books_author, books.`publishedDate`

[2016-04-07 08:06] beyondns commented on #47
python bookshelf/model_cloudsql.py

[2016-04-07 08:06] #47 closed

[2016-04-09 16:50] tutnes commented on #40
Seems like the JSON thing (str bytes issue) is fixed but now i get a "gcloud.exceptions.BadRequest: 400 The Cloud Datastore API is not enabled for the project"

[2016-04-09 19:12] waprin commented on #40
Sorry for the delay in fixing this, ran into a bunch of quirky issues, still hoping to get it fixed very soon.

[2016-04-11 01:45] b-cannon commented on #40
I had the json decodes thing too with python 3, but I believe I switched to python 2 which fixed that problem.  I think there's something with python 3 not decoding json the same way as 2.

[2016-04-11 19:41] sharifsalah opened #48 "Book listing in Compute Engine and Datastore not working as expected"
Creating more than 10 books in Datastore currently results in a TypeError with the following message when listing Books:

An internal error occurred:
character mapping must return integer, None or unicode
See logs for full stacktrace.

I've tested and observed this using the GCE sample code. I expect it would be identical in the others as the relevant code is the same across App Engine, Container

[2016-04-12 16:34] jonparrott commented on #48
Thanks for reporting; I'll be looking into this shortly.

[2016-04-13 20:16] waprin commented on #40
So we have identified the root cause of this issue. Cookies have a maximum size of 4kb and the oauth2 flow stores some data that is close to that in size which is breaking the nginx proxy. There is also a bug in the memcache proxy that prevents storing more then 4kb. We are rolling out a fix this week that will use less session space in the oauth2 proxy to workaround this issue, and long-term  the

[2016-04-17 20:04] tutnes opened #49 "Using "id" as variable"
http://stackoverflow.com/questions/77552/id-is-a-bad-variable-name-in-python

[2016-04-18 01:13] medyagh opened #50 "400 The Cloud Datastore API is not enabled for the project"
Hey guys I did everything step by step, from a fresh installation, and redid at least 3 times to confirm.
each time I get this error for 2-structured-data
for both localhost and also when I deploy it in appspot
in appspot it shows:
[code]
gcloud.exceptions.BadRequest
gcloud.exceptions.BadRequest: 400 The Cloud Datastore API is not enabled for the project river-daylight-128422

Traceback (most rece

[2016-04-18 02:12] medyagh commented on #50
this is really weird I could solve the problem by using this link I found in google groups
https://console.cloud.google.com/flows/enableapi?apiid=datastore.googleapis.com

What is weird is,before that link my api already showed datastore as enabled and I enabled it through the link in the getting started doc on google site. why it was not enabled even though it was showing as enabled?

[2016-04-18 04:52] medyagh opened #51 "More Button doesn't work"
if you add more than 10 books and then click on "more" on 2-structured-data$ and 3-binary-data

and I get this error:
[code]

[2016-04-18 16:14] jonparrott commented on #51
Thanks for reporting this, I will investigate shortly.

[2016-04-18 16:15] jonparrott commented on #50
Datastore recently updated their API and it now requires a different toggle. We'll get the docs updated, thank you for reporting.

[2016-04-18 16:15] jonparrott commented on #50
@waprin do you mind taking this one?

[2016-04-18 16:16] jonparrott commented on #49
Thanks for reporting; but we only use `id` in function-local scope and never as global, and clobbering a very rarely used function such as `id` isn't as much a concern to me. Additionally, `flake8` doesn't complain. :)

[2016-04-18 16:16] #49 closed

[2016-04-18 17:29] #51 closed

[2016-04-18 17:29] #48 closed

[2016-04-18 17:46] waprin commented on #40
Ok, we released a new oauth2client that uses less session data and this repo has been updated so this issue should no longer occur if you follow our guide. Make sure you clear any existing cookies when you test this.

However keep in mind that the 4kb cookie session limit exists so be careful about how much data you put into your session, prefer to use the database option for bigger data. We will

[2016-04-18 17:46] #40 closed

[2016-04-18 17:47] waprin commented on #50
ack

[2016-04-25 00:57] medyagh commented on #51
hey I pulled the latest changes, and it still shows me the same error:

[2016-04-25 01:02] medyagh opened #55 "More Button still doesn't work"
I opened this issue it has been marked as solved, I just deleted everything and pulled the project. and I still get this error in both local and live .
[code]

and if you add more books, it will give you this error:

[code]

[2016-04-25 01:08] jonparrott commented on #55
Thanks for reporting this, I'll investigate shortly.

On Sun, Apr 24, 2016, 6:02 PM medyagh <notifications@github.com> wrote:

[2016-04-25 01:08] medyagh commented on #55
no problem btw I am trying with python3 as the app.yaml suggests I noticed I dont get error with python2 and also for python2 there is no Back button or previous page button.

[2016-04-26 18:06] #55 closed

[2016-04-27 16:32] medyagh opened #58 "The More button is not More, it is Next"
Don't mean to be a pain the neck but the more button should bring new items and add to the current showing list.
but instead it shows Next page with no option to show Previous, can we have either a Previous button or make More button a real more ? (append more to the current showing list)

[2016-04-27 16:33] jonparrott commented on #58
Generally we prefer to avoid client-side JavaScript in these samples. I can change it to read "Next". A previous button is a bit more difficult in backends like the datastore and would require us to track cursors in the session.

[2016-04-28 17:17] medyagh commented on #58
oh so you would have to keep track of the previous token in javascript ? googel datastore doesnt have that ? do you know where I can find an example with way more features of using datastore ? like filtering by publish date, filtering by different stuff ...I am new to google data store concepts

[2016-04-28 17:20] jonparrott commented on #58
In MongoDB and SQL you do essentially `offset(int).limit(int)`, however, datastore uses cursors (an opaque string) to track state of the query so it can be resumed at a particular point. To be able to go backwards, you basically have to store a map of current cursor -> previous cursor. You can store it in js or memcache, it doesn't matter. It just complicates things a little.

Cloud Datastore's do

[2016-05-13 21:19] waprin opened #61 "Use Memcache When Deployed"
Add memcache sessions, but also don't require them locally and update the docs.

[2016-06-01 06:32] thundergolfer opened #66 "gcloud.exceptions.Forbidden when attempting to access app @ localhost:8080"
I have followed all of the instructions in [this tutorial](https://cloud.google.com/python/getting-started/using-cloud-datastore?authuser=0#before-you-begin) for running the Bookshelf app with NoSQL.

Getting to the end and attempting to access `http://localhost:8080`, I get a `gcloud.exceptions.Forbidden` exception.

Here is the traceback

`Traceback (most recent call last):
  File "C:\Users\Jona

[2016-06-01 06:41] jonparrott commented on #66
Hi @thundergolfer, can you verify the following;

- The Google Cloud Datastore API is enabled for your project. You can check this in the APIs section on https://cloud.google.com
- That you've run `gcloud auth login` or `gcloud init`.

[2016-07-23 11:10] MeLight opened #71 "pubsub gcloud example not working: ImportError: No module named pkg_resource"
Downloaded the gcloud lib, imported it. Very sad.

 (/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py:263)
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 240, in Handle
    handler = _config_handle.add_wsgi_middleware(self._LoadHandler())
  File "/base/data/home/r

[2016-07-23 11:18] MeLight commented on #71
My bad, didnt vendor the gcloud lib

[2016-07-23 11:18] #71 closed

[2016-08-12 18:13] jonparrott commented on #66
I'm closing this issue due to inactivity. Please feel free to comment and I'll re-open.

[2016-08-12 18:13] #66 closed

[2016-08-12 18:14] jonparrott commented on #50
This should be resolved.

[2016-08-12 18:14] #50 closed

[2016-08-12 18:14] jonparrott commented on #9
Closing for now.

[2016-09-01 22:55] ntang99 opened #84 "docker build failed for optional-container-engine"
ocker build -t gcr.io/google.com/cloud-solutions-gce/bookshelf  .
Sending build context to Docker daemon  89.6 kB
Step 1 : FROM gcr.io/google_appengine/python
 ---> a2511b33fad9
Step 2 : RUN virtualenv /env
 ---> Using cache
 ---> 6cef78fddb91
Step 3 : ENV VIRTUAL_ENV /env
 ---> Using cache
 ---> e2ec45b681ea
Step 4 : ENV PATH /env/bin:$PATH
 ---> Using cache
 ---> 09b07145da08
Step 5 : ADD requir

[2016-09-01 22:56] jonparrott commented on #84
Tracking this upstream at https://github.com/GoogleCloudPlatform/gcloud-python/issues/2238

[2016-09-01 22:56] #84 closed

[2016-09-30 05:32] beshaya opened #92 "Can't connect to MySQL server"
I set this up on my local machine with CloudSQL and it works great, but when I pushed to AppEngine with gcloud app deploy and go to the resulting webpage, I get:

(pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 111] Connection refused)")

Any idea what's up?

[2016-09-30 16:58] jonparrott commented on #92
Hi, a few questions:

1. Are you using Cloud SQL 2nd Generation?
2. Did you uncomment [this line](https://github.com/GoogleCloudPlatform/getting-started-python/blob/master/2-structured-data/app.yaml#L33) in app.yaml?
3. Can you double check [these settings](https://github.com/GoogleCloudPlatform/getting-started-python/blob/master/2-structured-data/config.py#L40)?

[2016-09-30 17:57] beshaya commented on #92
1. Yes
2. Yes
3. Yes - as noted, this works locally.

On Fri, Sep 30, 2016 at 9:58 AM, Jon Wayne Parrott <notifications@github.com

[2016-09-30 18:00] jonparrott commented on #92
Thanks, I'll try to reproduce.

[2016-09-30 18:14] jonparrott commented on #92
Hrm, I wasn't able to reproduce. Can you paste in your config.py with your project id and password elided?

[2016-10-01 06:31] beshaya commented on #92
config: http://pastebin.com/YVaxKeUg
app.yaml: http://pastebin.com/t1MjCD6e

On Fri, Sep 30, 2016 at 11:14 AM, Jon Wayne Parrott <
notifications@github.com> wrote:

[2016-10-03 16:26] jonparrott commented on #92
@beshaya Hmmm, all of your configuration looks correct.

Can you check and make sure the Cloud SQL Admin API is enabled in the cloud console?

[2016-10-09 00:36] fermaf commented on #92
I have the same problem than @beshaya!
works fine locally but when deply to GEA, Can't connect to MySQL server on 'localhost' raices.

(Cloud SQL is enabled)

[2016-10-10 16:41] jonparrott commented on #92
This may just be an issue with the environment variable. I'm investigating.

[2016-10-10 17:06] jonparrott commented on #92
Hmm - the environment variable seems correct. I'm not sure why this is occurring and I can't seem to reproduce. Could you try printing the `SQLALCHEMY_DATABASE_URI` at the end of config.py and seeing what it's pointing to in your logs?

[2016-10-10 17:48] beshaya commented on #92
Hi John,

I've given up on CloudSQL and switched to Firebase. It's a better fit for
my application.

One thought - does it matter whether I'm using a standard or flexible app
engine instance?

On Mon, Oct 10, 2016 at 10:06 AM, Jon Wayne Parrott <
notifications@github.com> wrote:

[2016-10-10 17:50] jonparrott commented on #92
@beshaya this application is intended for flexible. You can use Cloud SQL from both standard and flexible, but the configuration is slightly different between the two.

For Firebase, it shouldn't matter.

[2016-11-02 17:06] aheyman11 opened #94 "Import error on deploy only: No module named google.appengine.api"
I've been following the tutorial, in particular section 6-pubsub. I have the project working locally just fine, but when I try to deploy, I get a timeout. See the stacktrace from the logs below. The import error is:
[code]

and it occurs when I try to make a new logging Client. I've seen the same issue in another project when I try to make a new pubsub Client.

[code]

[2016-11-02 17:14] jonparrott commented on #94
@aheyman11 wow, that should not happen. oauth2client is supposed to have import guards for this. Have you made any modifications?

[2016-11-02 17:16] aheyman11 commented on #94
Nope, no modifications at all to oauth2client or anything else in the sample code.

[2016-11-02 17:20] jonparrott commented on #94
Are you up for throwing some debug statements into your app?

[code]

[2016-11-02 17:21] jonparrott commented on #94
@aheyman11 hit submit too early - if you could, can you place those statements at the top of your main.py file and let me know what it spits out.

[2016-11-02 17:23] aheyman11 commented on #94
@jonparrott Sure, will do. Do you want to see the result after I run locally? Deploy the worker? Deploy the app?

[2016-11-02 17:24] jonparrott commented on #94
Not at the moment, since this is occurring in production I want to see what the live server says.

[2016-11-02 17:24] jonparrott commented on #94
@aheyman11 either should work, but if you're seeing this with the worker then do that one.

[2016-11-02 17:25] aheyman11 commented on #94
@jonparrott Sure thing, deploying the worker now

[2016-11-02 17:42] aheyman11 commented on #94
@jonparrott When I deployed the worker, I just got a timeout with nothing in the logs. When I deployed the app, I got the following output, followed by the same error.
[code]

[2016-11-02 18:02] jonparrott commented on #94
@aheyman11 can I see your app.yaml just for the sake of sanity?

[2016-11-02 18:02] jonparrott commented on #94
And your requirements.txt, as well, please.

[2016-11-02 18:05] aheyman11 commented on #94
@jonparrott Here you go (though I'm pretty sure they're the same as the sample code):

app.yaml:
[code]

requirements.txt:
[code]

[2016-11-02 18:07] jonparrott commented on #94
Thank you. I'm trying to reproduce. This error is extremely bewildering.

[2016-11-02 18:15] jonparrott commented on #94
@aheyman11 can you give me the output of `gcloud info`? Feel free to elide your project ID and email.

[2016-11-02 18:19] aheyman11 commented on #94
@jonparrott From gcloud info:

[code]

[2016-11-02 18:29] jonparrott commented on #94
@aheyman11 thanks, I've tracked this down.

You should be able to add this to your requirements.txt and things (hopefully) should work:

[code]

[2016-11-02 18:45] aheyman11 commented on #94
@jonparrott Great, I'll try it out and let you know.

[2016-11-02 19:50] aheyman11 commented on #94
@jonparrott Yes, that resolved my issue! Thanks so much!

[2016-11-02 19:52] jonparrott commented on #94
@aheyman11 good to hear. FYI, a new release of googleapis-common-protos has been released so it should be safe to remove that from your requirements.txt

Thank you so much for answering all of my questions and helping me figure out this rather surprising bug. :)

[2016-11-02 19:52] #94 closed

[2016-11-04 07:39] askshjcn opened #95 "can't loggin"
I deploy app 3-binary-data and it work great.when i deploy 4-auth app and click My Books,I login with my google account,it appears:

An internal error occurred:
'profile'
See logs for full stacktrace.

2016-11-04 07:33:57 default[20161103t052819]    File "/home/vmagent/app/bookshelf/crud.py", line 66, in list_mine
2016-11-04 07:33:57 default[20161103t052819]      user_id=session['profile']['id'],

[2016-11-04 16:31] jonparrott commented on #95
interesting. Can you print out the session and see what's in there? (Please to elide any personally-identifiable information)

[2016-11-08 03:19] askshjcn commented on #95
2016-11-08 03:14:54 default[20161103t052819]  2016/11/08 03:14:54 Got a connection for "gapps-lianxiren:asia-east1:mjsql"
2016-11-08 03:17:12 default[20161103t052819]  INFO:oauth2client.client:Received token response with no refresh_token. Consider reauthenticating with prompt='consent'.
2016-11-08 03:17:12 default[20161103t052819]  INFO:oauth2client.client:Successfully retrieved access token
2016

[2016-11-08 17:39] jonparrott commented on #95
@askshjcn thanks for the stacktrace, that's helpful, but it would be more helpful if I can see what's actually in the session. Can you do `logging.info(request.session)` at the beginning of `list_mine`?

[2017-01-03 20:34] #92 closed

[2017-02-09 17:18] #95 closed

[2017-03-13 19:59] jonparrott opened #116 "Add webhook"

[2017-03-13 20:00] #116 closed

[2017-03-21 17:19] theacodes opened #119 "Limit the google-cloud packages used"
We currently bring in the umbrella `google-cloud` package, which has a ton of packages. We should just use the packages we need.

[2017-03-22 06:15] yogykwan opened #121 "Current url of 5-logging is invalid."
Tutorial of logging-application-events has been moved into monitor-and-debug section in cloud.google.com.

[2017-03-23 01:38] #121 closed

[2017-04-20 02:54] ajpharrington commented on #92
Did anyone ever find a solution to this problem? I am facing it as well.

[2017-04-20 14:42] ajpharrington opened #126 "Can't connect to MySQL server on 'localhost'"
I am having an issue with my flexible python app deployment connecting to the cloud sql instance. It is the same issue as posted here: https://github.com/GoogleCloudPlatform/getting-started-python/issues/92

Here is the error I receive:
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 2] No such file or directory)")
"

- I

[2017-04-20 15:49] ajpharrington commented on #126
I was able to find a solution, so I will post it here for others:

I added the following to my yaml file. I think the main difference from the config, is that 'localhost' is omitted.

[code]

[2017-04-20 16:50] jonparrott commented on #126
Interesting. @ryanmats can you see if you can reproduce? If so, we may need to update our connection strings.

[2017-04-21 07:55] ryanmats commented on #126
So I just tested this quite a few times and have gotten the error sometimes and a functional website other times. The error seems to be independent of whether or not I delete 'localhost' from the SQLALCHEMY_DATABASE_URI. I do know that CloudSQL has been having some flaky problems lately.

@ajpharrington Can you please do me a favor and try again both with and without localhost, back-to-back?

[2017-04-21 15:21] ajpharrington commented on #126
@ryanmats I have tried again with and without 'localhost' in the connection string, and have found it does not make a difference. I even removed the env_variables from my yaml file, to check if the config file string works and it does. It is working as expected now, and I am not able to re-create the original error.

[2017-04-21 16:54] ryanmats commented on #126
@ajpharrington Thanks for checking. Several other developers have noticed issues like this recently, and we are looking into what could be the problem.

In the near future, please let us know if any already deployed and functional apps suddenly run into this bug. Trying to figure out if this is a CloudSQL issue or an App Engine issue. Thanks!

[2017-04-24 21:08] ryanmats commented on #126
@ajpharrington So we've determined that this is an issue with new App Engine deployments and CloudSQL (not existing deployments that have already worked) -> we've assigned this bug to someone on the App Engine Infrastructure team to fix.

If you deploy your app and it works, it should continue to work. If one of your new deployments isn't working, you should be able to try again later and it will

[2017-04-24 21:08] #126 closed

[2017-06-14 07:52] essramos commented on #95
Hi, I am also having this issue, added `logging.info(request.session)`

Got this error :

`AttributeError: 'Request' object has no attribute 'session'`

[2017-06-14 08:01] essramos opened #127 "My Books tab error"
I have followed instructions under 4-auth folder.
When clicking My Books tab, I am having this error

An internal error occurred:
`'profile'`
See logs for full stacktrace.

Tried @jonparrott  suggestion on this issue:
https://github.com/GoogleCloudPlatform/getting-started-python/issues/95

But gave me this error :
An internal error occurred:
`'Request' object has no attribute 'session'`
See logs f

[2017-06-15 17:00] jonparrott commented on #127
Hi @essramos! That log statement should be `logging.info(session)`

[2017-06-16 00:01] essramos commented on #127
Hi @jonparrott, I figured it was `logging.info(session)`, I tried that, and there is no "profile" key from the session.

[2017-06-16 02:32] essramos commented on #127
here is the detail of the session. I just left some of the keys blank.

[code]

[2017-06-16 16:20] jonparrott commented on #127
@essramos just to be sure, can you add a logging statement to [_request_user_info](https://github.com/GoogleCloudPlatform/getting-started-python/blob/master/4-auth/bookshelf/__init__.py#L108) to log out the session at the end of the function and see if `profile` is in there?

I also *think* this is the might same issue that @waprin and I observed a while back - the session is becoming too large to

[2017-06-20 02:38] essramos commented on #127
Hi @jonparrott , by logging out the session on `_request_user_info` you mean I should call the end point `'/logout'`?

[2017-06-20 03:13] essramos commented on #127
This error came up as well :

[code]

[2017-06-20 16:15] jonparrott commented on #127
Interesting - a 403 means we made an unauthenticated request. Can you try logging `credentials.__dict__` as well? Please elide the access and refresh tokens.

[2017-06-21 07:02] essramos commented on #127
On `_request_user_info`, I tried to print the `content` instead of `resp `when catching the error. This is what I got.

[code]

And it worked after I enabled the API. Probably a good idea to also print out the content when status is no **200**

Thanks for all the help!

[2017-06-22 21:23] #127 closed

[2017-06-22 21:23] jonparrott commented on #127
@essramos great suggestion. Thanks for being patient and walking through all the debugging steps.

[2017-06-28 02:58] mikeklinker129 commented on #126
@ryanmats I just followed the tutorial and I am consistently getting this error. I have tried making multiple new projects, fiddling with settings, however I still get the error with this codebase, as well as my actual app I am trying to deploy (that uses cloudsql).

Do you have any solutions or updates on this?

[2017-06-28 14:17] mikeklinker129 commented on #126
@ajpharrington I tried your environment variable changes but they did not help.

[2017-06-28 22:04] mikeklinker129 opened #129 ""Can't connect to MySQL server on 'localhost' ([Errno 2] No such file or directory)""
This issue has been highlighted twice before, however is still present with the current tutorial and codebase. The application works fine in localhost through the proxy, however deploying to an app engine causes the error.

Error returned: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 2] No such file or directory)")

This was highlighted #126 and #92 .

[2017-06-28 22:15] jonparrott commented on #129
@andrewsg can you take a look at this?

[2017-06-29 01:56] robincrlee commented on #94
@jonparrott

I ran into similar issue.

from oauth2client.contrib.appengine import AppAssertionCredentials

ImportError: No module named contrib.appengine

Then, I added googleapis-common-protos==1.3.5 in requirements.txt and solved the issue.

Is that still expected that I'd need to use common-protos to fix the bug?

[2017-06-29 16:22] jonparrott commented on #94
@robincrlee this shouldn't appear in any recent versions of any of these libraries. If you pip freeze before manually installing `googleapis-common-protos`, what version is installed?

[2017-06-29 17:25] robincrlee commented on #94
@jonparrott

Here're what I have in requirements.txt

gsheets==0.1
Flask==0.12.1
sqlalchemy==1.1.11
gspread==0.6.2
google-auth==1.0.1
oauth2client==4.0.0
google-api-python-client
googleapis-common-protos==1.3.5

[2017-06-30 00:25] bklynjones opened #130 "Cannot Authenticate Cloud SQL proxy"
_While I see a few issues related to sql connection, I do not see anything matching this scenario.__

Currently following the [App Engine Flexible Bookshelf Tutorial](https://cloud.google.com/python/getting-started/using-cloud-sql).
Upon reaching the step "Creating the Database Tables":
The client application fails, unable to make a connection through the proxy.

First Step:  I checked the threads

[2017-07-05 16:03] bklynjones commented on #130
@andrewsg  My error.   Closing.

[2017-07-05 16:03] #130 closed

[2017-07-18 22:32] andrewsg commented on #129
I've repoened the internal issue tracking this intermittent failure. @mikeklinker129 as the problem appears to come and go, can you please try again and let me know if the problem persists today?

[2017-07-18 22:38] andrewsg commented on #129
If it does persist, in order to rule out a configuration issue, could you please post or email me your app.yaml and config.py files with the project ID, password and other sensitive information redacted? As an example, see the redacted config.py in this comment: https://github.com/GoogleCloudPlatform/getting-started-python/issues/92#issuecomment-250895875

[2017-07-19 00:16] mikeklinker129 commented on #129
Thanks @andrewsg-- I think the problem comes and goes... I was able to deploy to another project, however last time I tried to start from scratch and a new project, it kept giving me this error. I will try to set up a new project, and get back to you whether or not I am still seeing the error.

[2017-07-19 17:31] andrewsg commented on #129
That indeed sounds like the other reports of intermittent issues. Thanks for your report, I'll keep track of the bug internally as well.

[2017-07-20 19:52] medyagh commented on #50
@jonparrott can you link the PR that resolved this ?

[2017-07-20 19:55] jonparrott commented on #50
Is' a documentation change, so unfortunately there isn't a pubic commit I
can reference.

On Thu, Jul 20, 2017 at 12:52 PM Medya Gh <notifications@github.com> wrote:

[2017-07-20 20:00] medyagh commented on #50
Ah ... https://media.giphy.com/media/12XMGIWtrHBl5e/giphy.gif

[2017-07-20 20:01] medyagh commented on #50
then how can anyone confirm that this issue has been fixed?

[2017-07-20 20:03] jonparrott commented on #50
We can confirm by checking the revision history on our internal VCS where there is an update to the documentation page to include enabling the datastore API.

[2017-07-20 20:04] medyagh commented on #50
so you did the documentation step by step and confirm now it works?

[2017-07-20 20:06] jonparrott commented on #50
Generally that's how we verify fixes that involve pre-requisites - start a new project, click the enable API button, create credentials, and run the user-journey tests.

[2017-09-03 23:08] hocherie opened #136 "cannot determine project ID (6-pubsub)"
When running 'psqworker main.books_queue' in the pubsub tutorial, I have received the error "No project ID could be determined from the Cloud SDK configuration. Consider running `gcloud config set project` or setting the GOOGLE_CLOUD_PROJECT environment variable".

I have already run gcloud config before and was able to complete previous tutorials. Would anyone know how I can address this?

[2017-09-04 20:31] JasonMWhite opened #137 "oauth2client has been deprecated"
https://github.com/google/oauth2client has been deprecated, replaced with [google-auth](https://google-auth.readthedocs.io/) and [oauth-lib](http://oauthlib.readthedocs.io/).

[2017-09-11 12:54] Sarickshah commented on #136
Having the same issue, last week it was working just fine now getting this error as well. The project ID has been set I checked in terminal and it worked. Also checked in python and it showed the correct project name.

[2017-09-28 11:05] larsblumberg commented on #129
I had the same error and then I found this log entry in my application logs:

After enabling the Cloud SQL Admin API and redeploying the application the SQL connection did work. I don't know if that was a coincidence.

[2017-09-28 11:07] larsblumberg commented on #126
I described a potential solution (enabling Cloud SQL Admin API) here: https://github.com/GoogleCloudPlatform/getting-started-python/issues/129#issuecomment-332803546

[2017-09-28 11:07] larsblumberg commented on #92
I described a potential solution (enabling Cloud SQL Admin API) here: https://github.com/GoogleCloudPlatform/getting-started-python/issues/129#issuecomment-332803546

[2017-12-01 12:24] thoaitrieu commented on #129
MySQL its not running on localhost, use

[2017-12-11 00:45] bwindsor22 commented on #92
@larsblumberg 's solution worked for me, enabling the administration api.

Can we also add this as a step to the tutorial here? https://cloud.google.com/python/getting-started/tutorial-app

Ideal would be to pass this solution in the error text, as app logs aren't visible by default from command line. Not sure how hard that is.

[2017-12-11 19:06] jonparrott commented on #92
@bwindsor22 the "Enable the APIs" button already ensures that the SQL Admin API is enabled.

[2017-12-11 21:46] bwindsor22 commented on #92
@jonparott, ah, I see

[2018-01-12 07:12] JungjaeKimB commented on #129
@larsblumberg Google changed API's name. Now it is named "Google Cloud SQL API". Thank you for information.
After I enabled "Google Cloud SQL API", this error is disappeared.

[2018-02-07 06:42] philipperemy commented on #136
Same here

[2018-02-20 21:37] ssenchenko commented on #129
I have the same issue in the tutorial. (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on 'localhost' ([Errno 2] No such file or directory)" Connection fails when deployed to AppEngine. The issue though persists. I have tried more than 5 times for 3 days

[2018-02-21 10:08] larsblumberg commented on #129
@JungjaeKimB thanks, I've updated my comment

@ssenchenko did you follow my suggestion above?

[2018-02-21 14:46] ssenchenko commented on #129
@larsblumberg I did try enabling Amin API but it didn’t help. Finally, I managed to get it running on GAE. After I created the Cloud SQL instance in the same region as my App Engine, socket file appeared in place. You guys may check if a region can cause this issue.

[2018-03-21 07:17] Tomesco commented on #129
@andrewsg I believe you can resolve this issue based on @larsblumberg's suggestion above.

On the [Overview](https://cloud.google.com/python/getting-started/tutorial-app) page, update 'Before you begin'.1.b to mention enabling _Google Cloud SQL **API**_, currently only _Google Cloud SQL_ is enabled by default when the project is created. This solved for problem for me, after following all other in

[2018-03-26 17:52] MTHD486 opened #157 "ImportError: No module named appengine.api (even after app-engine-python installation)"
Hi,

I used a newly created CentOS7 VM in Google Cloud Platform to try to run the following Python code (Python version: 2.7.5):-

`from google.appengine.api import urlfetch`

But I got this error message:-

`ImportError: No module named appengine.api`

Previously, I already have already installed `app-engine-python` and `app-engine-python-extras` in gcloud. For example, if I now run this:-

`yum

[2018-04-06 04:21] srianbury opened #159 "Session cookie too big"
How can I shrink session cookies?  I am trying to authenticate users in the 4-auth directory but I cannot because the session cookie is too large.  In init.py the _request_user_info() method gets the information and stores it in session.  I tried to limit the data by only grabbing the displayName like so: profile = json.loads(content.decode('utf-8'))
    session['profile'] = {'displayName': profil

[2018-05-23 01:26] mikeklinker129 commented on #129
@andrewsg I am currently trying to deploy my application to a new project and seeing this error again. Cloud SQL API is enabled, made the Cloud SQL instance in the same region as the app engine.

[2018-06-04 16:39] VelizarVESSELINOV opened #160 "Add HTTPS option in the optional-kubernetes-engine tutorial"
Building Python app engine is very easy, switch to https (enterprise secure option) is very easy don't need a special tutorial.

In a perfect world, switch K8s from HTTP to HTTPS should be as easy as for App Engine, but K8s (optional-kubernetes-engine) the complexity level is much higher, requires more complex load balancer, SSL, DNS setup.

K8s is very powerful but difficult to adopt due to extra

[2018-06-07 21:29] kiptoomm commented on #92
@theacodes would you please elaborate on how configurations between the two differ?

*context* (maybe this part should be a separate question or stackoverflow post, so you can ignore if it's not relevant): I'm trying to work around this problem, none of the solutions here or in the linked issues have worked for me so far. I created a project for the Standard Environment following https://cloud.goo

[2018-06-07 21:41] theacodes commented on #92
@andrewsg should be able to help

[2018-06-08 15:37] kiptoomm commented on #92
I'm not sure if it's true at all but so far from my experience and that of OP in this [SO post](https://stackoverflow.com/a/41082373/1145905) it seems PyMySQL is not supported in the standard environment. @andrewsg can confirm? Or know an alternative? Still facing [headaches installing MySQLdb](https://stackoverflow.com/questions/38549431/mysql-python-install-mac) on mac+virtualenv

[2018-06-08 21:44] andrewsg commented on #92
I can confirm that pymysql is not supported in the python27 runtime. However, for most use cases, it's possible to use pymysql locally and mysqldb in production by using a `try:` / `except ImportError:` to import one or the other conditionally. As they share the same interface, you can use `import from` to make the two different libraries share the same name for ease of use in your code.

Django i

[2018-06-11 06:15] kiptoomm commented on #92
Good to know, @andrewsg. I finally managed to install MySQLdb locally after fighting for a few days with virtualenv. Issue was related to the `DistutilsOptionError` discussed further in this [Stack Overflow post](https://stackoverflow.com/a/44728772/1145905)

[2018-06-14 12:09] maxpaynestory commented on #157
Same problem here, i get error

No module named 'google.appengine'

[2018-06-28 21:52] edgartanaka commented on #129
I was facing this issue and what got me out of it was adding to app.yaml:

`
beta_settings:
  cloud_sql_instances: <cloud_sql_instance_name>:us-central1:<db_name>,<cloud_sql_instance_name>:us-central1:<db_name>,<cloud_sql_instance_name>:us-central1:<db_name>
`

You can do it for several databases.

[2018-06-28 22:30] arshak opened #161 "bookshelf worker gives futures error"
when I deploy the bookshelf-worker on GKE, the pods come up with the following error:

"22:19:21 worker.1 | AttributeError: 'StreamingPullFuture' object has no attribute 'future'

the frontend app works just fine under the same GKE cluster (same docker image, etc)

[2018-07-05 15:05] pronghorndev commented on #157
I have the same issue and even tried reinstalling everything and it didn't work.  Did you figure it out?

[2018-07-13 06:21] medyagh commented on #50
Hi this is funny, I redid the example and docs for google docs, 3 years after I opened this issue, and I got the same error, and when I googled it I found my own issue from 3 years ago :)

anyways, this issue is still there.

I was able to fix the issue by replacing
`"return datastore.Client(current_app.config['PROJECT_ID'])"`

to

`return datastore.Client()`

[this line here](https://github.com/G

[2018-07-17 17:48] khanduri commented on #161
@arshak .. I'm running into the same error. We're you able to get a fix for this?
EDIT: Seems like some version issue with the google-cloud packages. I tried downgrading the `google-cloud-pubsub` package, but didn't get it working

[2018-07-18 19:22] arshak commented on #161
@khanduri haven't been able to fix it.  GCP folks confirmed that it's an issue with this project and not a problem with GKE.  So maybe one of the contributors here will take a look.

[2018-08-06 15:38] Nathaniel-MacIver opened #165 "Limit OAuth 2 Client to a Google Apps Domain"
I'd like to use this code as a base for a small python package I want to build in my work environment, but it has to be limited in accessibility to only gmail accounts within our GSuite Work domain. In searching for a way to tweak the OAuth client, I found this on [Stackoverflow](https://stackoverflow.com/questions/20482502/google-oauth2-0-with-python-how-do-i-limit-access-to-a-specific-domain):

[2018-08-06 15:43] Nathaniel-MacIver commented on #137
Jason,

     Will the tutorial docs on GCP be updated so newbies can start with these upgraded tools and save them some headaches later on?

I'm talking about this tutorial in particular: https://cloud.google.com/python/getting-started/tutorial-app

   Thanks!

[2018-08-08 14:35] JasonMWhite commented on #137
@Nathaniel-MacIver I don't work for Google, I just created the issue when I noticed it.

[2018-08-10 22:02] miketruty commented on #161
There is an updated version of psq that needs to be used with the latest code here. I've updated psq in requirements.txt to 0.7.0 for this.

[2018-08-27 23:00] #161 closed

[2018-08-29 02:26] VelizarVESSELINOV opened #168 "Python 3.7 support"
The current version depends on https://github.com/GoogleCloudPlatform/psq that is incompatible with Python 3.7.
Please remove dependency to psq or upgrade psq.

[2018-08-30 07:14] milk940 commented on #129
I am having the same issue, although I have already enabled the SQL admin API.

[2018-08-30 07:24] milk940 opened #169 "Unable to deploy app, Can't connect to MySQL server on 'localhost' ([Errno 2] No such file or directory)"
Hi there,
I was following the Gcloud python tutorial and trying to learn how to use cloud SQL. I was able to use the cloud SQL proxy to run the instance locally. However, when trying to deploy the app online, I was given the error message shown in title.
I have googled this question a bit and enabled all the APIs and services required. I have also repeated the steps several times with a new projec

[2018-09-02 13:36] milk940 commented on #169
The solution is to uncomment #cloud_sql_instances: [ ]" in app.yaml

[2018-09-02 13:36] #169 closed

[2018-09-06 12:38] maximelebastard commented on #157
Same issue

[2018-09-07 07:49] juanluisrosaramos opened #170 "problem with procfile file name"
Trying to deploy the 6-pub-sub example i found a deploy error

ERROR: (gcloud.app.deploy) Error Response: [9]
Application startup error:
2018-09-06 15:00:38 [1] [ERROR] Procfile does not exist or is not a file

In this case, I changed file name from "procfile" to "Procfile" and it deployed correctly

[2018-09-13 06:44] gogasca commented on #157
Same issue in MacOS using virtual environment
MacOS Sierra 10.13.6 (17G65)
Python 2.7

[2018-09-13 12:06] igorsavinkin commented on #129
Let me check.

[2018-09-14 21:16] mhdtouban commented on #157
You need to add the following to your ~/.bash_profile file
export GOOGLE_APP_ENGINE_DIR=/usr/local/google_appengine

[2018-09-28 02:57] evanfir commented on #157
I tried this and I'm still getting the same error.
I don't use virtual environment.
MacOS Sierra 10.12.6 (16G1510)
Python 3.7.0

[2018-09-28 04:00] mhdtouban commented on #157
Try to use miniconda conda.io/miniconda

On Thu, Sep 27, 2018, 9:57 PM Evan Fir <notifications@github.com> wrote:

[2018-10-07 21:40] thomasburling commented on #129
@larsblumberg Thank you very much for your post! I was having this SQL connection issue and after extensive troubleshooting I found the issue was caused because the Cloud SQL instance was deployed to region = "west1" and the Cloud App Engine was deployed to region = "west2"

To resolve the issue I just created a new sql database instance and database in the "west2" and updated the "config.py" & "a

[2018-10-11 08:38] iody commented on #129
@thomasburling any workaround if app engine is in a location id where cloudsql doesn't support.

[2018-10-12 22:53] Mikerr1111 opened #172 "Get the Build badge Green again(Suggestion)"
![badge](https://user-images.githubusercontent.com/18353476/46897337-db716e00-ce36-11e8-9dee-397b675d7fbf.png)

[2018-10-15 01:54] mikeklinker129 commented on #159
Seconded this as an issue.

My full error:
`...getting-started-python/4-auth/venv/lib/python2.7/site-packages/werkzeug/wrappers.py:1116: UserWarning: The "session" cookie is too large: the value was 6583 bytes but the header required 26 extra bytes. The final size was 6609 bytes but the limit is 4093 bytes. Browsers may silently ignore cookies larger than this.
  samesite=samesite`

[2018-10-16 21:11] kurtisvg commented on #129
Hey folks,

If you are having trouble connecting to Cloud SQL from AppEngine, take a look at the ["Connecting from AppEngine" documentation](https://cloud.google.com/sql/docs/mysql/connect-app-engine).

Specifically, if you are having issues with 'Can't connect to MySQL server on 'localhost' for GAE-Standard', make sure you are connecting via the unix socket provided at `/cloudsql/<INSTANCE_CONNEC

[2018-10-16 21:11] #129 closed

[2018-10-18 12:29] mikeklinker129 commented on #129
FYI to anyone searching, I was seeing this error from not updating my app.yaml, under beta_settings: cloud_sql_instances.

[2018-10-24 04:48] karthigb commented on #157
Same problem here. People have been reporting this on Stackoverflow for a long time now. We should have to install these packages in the magic order to get this working. Especially since there are so many different official guides on install the Cloud SDK.

[2018-10-25 18:08] leonardoleenen commented on #157
I guys, I got the Same Issue but there is a clue: I have been upgrading my GCloud version (because I have been my OS to Mojave). So, all my artefacts have worked fine with an older version (gcloud and O.S). With new version of GCloud and Mojave I have this issue. Maybe I got a solution (monkey patch)... If I have success, came back ASAP.

[2018-11-02 19:26] altaisukh commented on #129
I encountered these errors today. I double checked the following and still continue to encounter the problem:
1. Updated cloud_sql_instances under beta_settings
2. Updated APIs to grant permissions

Specifically, following the instructions for python-docs-samples/app-engine/flexible/cloudsql

[2018-11-13 05:55] TahaAttari commented on #157
Are you using the Standard app engine?

[2018-11-25 09:46] 42force commented on #129
HI,
Were you able to resolve your issue @altaisukh ?
I am encountering this today, and I am out of my wit - trying to reproduce every steps/instructions.

Thanks!

[2018-11-25 11:58] altaisukh commented on #129
I could not resolve it in the first project that experienced the symptoms.
Instead, I created a new project and then it worked. I read other people
did this as well.

On Sun, Nov 25, 2018 at 9:46 AM 42force <notifications@github.com> wrote:

--
Cheers,

Jess Lampe

[2018-11-26 17:39] QuintinSheridan commented on #129
I was able to solve my problem.  I did not have the Google+ API enabled.
Make sure that you have the Google cloud proxy running and that all of the
APIs that you need are enabled:

Cloud SQL, Cloud Datastore, Cloud Pub/Sub, Cloud Storage JSON, Stackdriver
Logging, and Google+

A guy in office had a similar issue because he forgot to enable a one of
the APIs (Cloud SQL I think) so I would say check

[2019-01-09 16:12] glorevenhite commented on #129
Is it solved? I still experience this error though I did try above solutions. Enable APIs, delete localhost, creating a new database with the same region, etc. I

[2019-01-09 16:40] kurtisvg commented on #129
Hey folks,

Just to reiterate, this is a common issue caused when users miss a step in the instructions. I encourage you to take a look at the "[Connect from App Engine page](https://cloud.google.com/sql/docs/mysql/connect-app-engine)" and make sure to note the differences between Standard/Flexible runtimes:

1. Standard runtimes provide a unix socket at `/cloudsql/<INSTANCE_CONNECTION_NAME>`. Thi

[2019-01-10 04:50] 42force commented on #129
You need to check the scripts on your settings.py

Kind Regards,

[2019-02-06 07:38] kwokkawinghk opened #187 "Connection loss during query while running model_cloudsql.py"
Hi team,
When  I try to run the code in bookself\model_cloudsql.py in a window VM, it shows the error as below:

    CR.CR_SERVER_LOST, "Lost connection to MySQL server during query")
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query') (Background on this error at: http://sqlalche.me/e/e3q8)

I have already set up the config.py and

[2019-02-06 10:58] 42force commented on #187
this means you are not connected to the sql server database

Kind Regards,

[2019-02-06 11:26] kwokkawinghk commented on #187
Thanks for the reply. However, I have login the goolge PostgreSQL and it shows the following when I run the code:
2019/02/06 19:13:22 Listening on 127.0.0.1:3306 for delta-basis-214516:asia-east2:ppoagentbot
2019/02/06 19:13:22 Ready for new connections
2019/02/06 19:15:43 New connection for "delta-basis-214516:asia-east2:ppoagentbot"
2019/02/06 19:21:06 Instance delta-basis-214516:asia-east2:ppoa

[2019-02-07 19:31] markguindi1 commented on #129
Hmm, I encountered the same error when I first deployed. My `app.yaml` and `config.py` files were in order. However, I _did_ notice the following things:

- I hadn't enabled the Cloud SQL Admin API (something that was mentioned above, and from looking at the logs it seemed that API needed to be enabled, even though it's not listed in the tutorial)
- When I deployed, my local Python Virtual Environ

[2019-02-14 01:35] wvwhome commented on #129
For my testing:  1) Cloud SQL Admin API must be enabled  2) The App Engine and SQL Instance must be in the same Region.

[2019-02-15 01:44] GuanacoDevs opened #188 "How to deploy a python function using gcloud"
I want to deploy a python function using the gcloud command. The function trigger is Firestore Document Update.
The document I'm observing in my Firestore Database is: "user_collection/mike"
I'm having problem with the `--trigger-resource`, when executing the command I get this ERROR:
`/user_collection/mike expected to match template projects/{project}/databases/{database}/documents/{document=**}`

[2019-03-07 11:00] Brumor opened #192 "Invalid request when trying to connect after deployment"
Hi,

I have followed the Bookshelf tutorial twice and still gets the same error, on my local machine I can connect fine and it works as intended, but once deployed I can't connect anymore, I click on the login button and it just shows me a blank page saying "Invalid request", looking at the browser logs it tells me :

`oauth2callback:1 Failed to load resource: the server responded with a status of

[2019-03-19 22:11] brachipa commented on #157
I see the directory in sys path, but still, get the error when import.

[2019-04-22 19:58] BlackFoxgamingstudio commented on #159
same

[2019-04-24 14:11] mfumagalli68 commented on #157
Same exact problem. A nightmare

[2019-04-27 06:31] Muggsie commented on #157
Same problem. Can't find a solution

[2019-04-28 19:09] mfumagalli68 commented on #157
For what it may be worth.
If i hadd to my PYTHONPATH this path:

`export PYTHONPATH="${PYTHONPATH}:/PATH_TO_GC_SDK/google-cloud-sdk/platform/google_appengine/google`

it works. Without the last google folder it doesn't work.

[2019-05-25 06:06] SalamiArmy commented on #157
Sorry mfumagalli68, on Windows, where is the google_appengine folder? I can't find it after installing The Python Cloud SDK™. The furthest down your path I can get is E:\Google Cloud SDK\google-cloud-sdk\platform ??

[2019-05-30 23:57] #188 closed

[2019-06-02 09:03] MohammadHeydari commented on #94
Hi there.
here are my result:
[code]
oauth2client version 4.1.3
SETTINGS.env_name 1 None
In GAE environment: False
SETTINGS.env_name 2 None

[code]

[2019-06-13 15:48] er1k1 commented on #129
Enable Cloud SQL Admin API (not just Cloud SQL) and redeploy - not necessary to deploy from virtuel env.
Sql proxy doesn't have to be running - as you would expect that is just for local connection

[2019-06-14 17:53] engelke commented on #192
The bookshelf app example has several phases. I think you're referring to the one at https://cloud.google.com/python/getting-started/authenticate-users. Is that correct?

[2019-06-14 17:58] engelke commented on #187
Please give the path of the code you're using and the URL of the web page with the instructions you're following. I'm not clear on your using a Windows VM. Is that a Compute Engine VM, something local on your own machine, or something else? Is the problem with the app when deployed to GCP (and if so, to which GCP product) or when following the 'running locally' instructions.

Thanks.

[2019-06-14 19:55] engelke commented on #170
Can you provide more information? Did you change the name of the file in the directory, or change the name referenced in one of the yaml files? It certainly seems that it should be procfile everywhere, not Procfile.

This sample was able to deploy for me the last time I tried it.

[2019-06-14 19:57] engelke commented on #168
Thank you for your report. Sorry to be so late to respond, but the problem was fixed not long after this report. Please let us know if there's still a problem.

[2019-06-14 19:57] #168 closed

[2019-07-16 16:29] engelke commented on #170
Closing this due to lack of needed details.

[2019-07-16 16:29] #170 closed

[2019-07-16 16:29] engelke commented on #192
Closing due to lack of needed details.

[2019-07-16 16:29] #192 closed

[2019-07-16 16:30] engelke commented on #187
Closing due to lack of needed detail.

[2019-07-16 16:30] #187 closed

[2019-07-22 08:08] SpeedyGonzalves commented on #94
Hi, I've got the same think than @MohammadHeydari, and for the error its':
"No module named 'oauth2client.locked_file'"

[2019-07-27 22:56] tc64 commented on #129
@kurtisvg

Thanks for pointing this out. Would you mind clarifying something further?

In a standard python environment I use the following to connect to the db:

`conn = pymysql.connect(user=os.environ['DB_USER'],
                           password=os.environ['DB_PASS'],
                           unix_socket='/cloudsql/{}'.format(os.environ['DB_CONN']),
                           db=os.environ[

[2019-07-29 14:32] kurtisvg commented on #129
@tc64 - [This example here](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/cloud-sql/postgres/sqlalchemy/main.py#L37-L49) shows how to pass the `INSTANCE_CONNECTION_NAME` in as an environment variable and use it in the `unix_socket` path.

[2019-08-12 17:10] #61 closed

[2019-08-16 22:37] VelizarVESSELINOV commented on #168
@engelke yes still have the problem:
[code]

The psq code is fixed (for Python 3.7) but still no new release of psq with the fix (from last year).

[2019-08-17 12:53] linsamtw commented on #94
@theacodes

please help me, i have same issue

 my  requirements.txt

Django==2.1.10
PyMySQL==0.9.3
numpy==1.17.0
plotly==4.0.0
pandas==0.25.0
requests==2.22.0

Flask==0.11.1
google-cloud==0.19.0
gunicorn==19.6.0
oauth2client==3.0.0
Flask-SQLAlchemy==2.1
Flask-PyMongo==0.4.1
PyMongo==3.3.0
six==1.10.0
honcho==0.7.1
psq==0.5.0
googleapis-common-protos==1.3.5

app.yam

# [START django_app]
runtime:

[2019-08-27 01:11] jyp930 commented on #159
I met a same issue and struggled with that for a few hours.
 when I change "SECRET_KEY = 'secret'" to "SECRET_KEY = 'st'", I could log in successfully. I guess encrypting with 'secret' key made too large session cookies...

[2019-09-11 21:59] denver768 commented on #129
I'm having this same issue.  It WAS working a couple days ago, and then stopped and I've been pulling my hair out trying to figure it out... only to realize:  OperationalError(2003, "Can't connect to MySQL server on 'localhost' ([Errno 2] No such file or directory)"))"    UGH.  Definitely not closed.

[2019-09-16 23:10] mmarquezv commented on #157
Same problem here export PYTHONPATH="${PYTHONPATH}:/PATH_TO_GC_SDK/google-cloud-sdk/platform/google_appengine/google" does not work

[2019-09-27 14:36] Belthazubel opened #206 "'from google.cloud import store' should be 'datastore'"
From what I'm getting from the error messages 'store' is not a thing anymore from version 0.20. Can someone confirm this? I changed it from 'store' to 'datastore' and everything seems to work.

[2019-10-12 23:12] andreshg112 commented on #157
I'm totally frustrated with this error. I cannot install using pip, pip3, I cannot create a new virtual environment, the project is not working, I'm getting: ModuleNotFoundError: No module named 'google.appengine'
![image](https://user-images.githubusercontent.com/15859884/66708765-899a4700-ed1b-11e9-98c4-701be1c6aa58.png)

[2019-10-25 13:35] wanquanw commented on #157
Same problem, tried adding PATH mentioned above but none of them work.
macOS Catalina
python 3.7.4

[2019-10-31 19:09] kiptoomm commented on #129
I experienced this issue when running a flask app locally against a remote CloudSQL db instance (using cloud_sql_proxy). My `SQLALCHEMY_DATABASE_URI` Connection looked like:

`mysql+pymysql://{<user-name}:{<user-password>}@{<db-hostname>}/{<database-name>}?unix_socket=/cloudsql/{<connection-name>}`

Turns out connections to CloudSQL can only use either TCP or unix socket, not both. [Apparently the

[2019-10-31 19:13] kurtisvg commented on #129
@kiptoomm To clarify, you can use either a TCP socket or a Unix socket using the proxy. Your mistake was trying to pass both arguments to the mysql driver at the same, which caused the driver to fail.

[2019-11-02 13:45] ShardaComputeSolutions opened #207 "Error: google.auth.exceptions.DefaultCredentialsError: Could not automatically determine credentials. Please set GOOGLE_APPLICATION_CREDENTIALS"
(env) C:\Users\mramswaroop\AppData\Local\Google\Cloud SDK\getting-started-python\7-gce>**python main.py**

[code]
[code]
my config.py
*****************

$ cat config.py
 Copyright 2015 Google Inc.

 Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/

[2019-11-09 20:50] EcoBankProject commented on #157
Same problem

[2019-11-18 16:31] scythargon commented on #157
+1

[2019-11-21 01:23] hmiguel commented on #157
Same here.  :(

[2019-11-27 22:36] gokul0801 commented on #157
Tried different things.. Changing the PYTHONPATH , PATH,  using virtualenv... nothing worked.

I removed app-engine-python installation and reinstalled and it worked.

sudo apt-get remove google-cloud-sdk-app-engine-python
sudo apt-get install google-cloud-sdk-app-engine-python

import google
print google.__path__

['/usr/lib/google-cloud-sdk/platform/google_appengine/google']

now i can import an

[2019-12-03 19:16] bshaffer commented on #207
Hey there!

You need to set the environment variable `GOOGLE_APPLICATION_CREDENTIALS` to the path to a service account credentials file. See the docs on [Getting Started with Authentication](https://cloud.google.com/docs/authentication/getting-started) for instructions on downloading the file and setting the environment variable, and see [Setting up Authentication](https://cloud.google.com/docs/au

[2019-12-03 19:16] #207 closed

[2019-12-03 23:16] bshaffer commented on #206
I was unable to find `import store` in `master` or `steps`

https://github.com/GoogleCloudPlatform/getting-started-python/search?q=import+store&unscoped_q=import+store

So I believe this has already been fixed

[2019-12-03 23:16] #206 closed

[2019-12-03 23:17] #58 closed

[2019-12-03 23:18] bshaffer commented on #137
the new tutorials do not use `oauth2client`. The tutorials in the `steps` branch still do, but these tutorials are going away, so we do not want to upgrade them.

Thank you for reporting this!

[2019-12-03 23:18] #137 closed

[2019-12-04 22:09] #9 closed

[2019-12-04 22:09] bshaffer commented on #9
This doesn't happen in the bookshelf rewrite

[2019-12-04 22:19] #16 closed

[2019-12-04 22:19] bshaffer commented on #119
This is fixed

[2019-12-04 22:19] #119 closed

[2019-12-04 22:19] bshaffer commented on #136
this tutorial has been removed

[2019-12-04 22:19] #136 closed

[2019-12-04 23:15] bshaffer commented on #160
There is good documentation on setting up HTTPS [here](https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs) and [here](https://cloud.google.com/kubernetes-engine/docs/concepts/ingress). I do not see a benefit in making a python-specific example for this, however.

[2019-12-04 23:15] #160 closed

[2019-12-10 22:37] sanealytics opened #242 "Cannot clone git synced repo from google cloud source repository"
Hi there,
I'm trying to deploy a google cloud source repository to my deployed instance.

I'm trying (this)[https://github.com/GoogleCloudPlatform/getting-started-python/blob/steps/7-gce/gce/startup-script.sh#L45]

`git clone https://source.developers.google.com/p/$PROJECTID/r/[YOUR_REPO_NAME] /opt/app`

But it does not work. If I log into the instance and try it manually (as root), it asks me to

[2019-12-27 17:16] YPCrumble opened #249 "Folder column in the README is all 404's"
Thanks for building this repo! I got here while googling how to work with logging using GCP and just noticed that all the links under the `Folder` column in the table are 404's.

I'd be happy to make a PR to fix but don't know where the content lives (or if it even still exists in this repo)?

[2020-01-09 21:45] TheRoyalTnetennba commented on #249
Thanks for pointing this out. We updated/reorganized the tutorials, overlooking the README

[2020-01-09 21:53] TheRoyalTnetennba commented on #159
The 4-auth folder has been removed.

[2020-01-09 21:53] #159 closed

[2020-01-16 13:54] ThiagoMusico commented on #157
Having the same error here, for me it seems the problem has to do with the fact that the site-packages folder already contains a folder named google, which was created when I installed google datastore package using pip.
python 2.7.17

[2020-01-18 23:57] SiddharthChoudhary commented on #157
Don't just write anything

[2020-01-23 01:45] michaelawyu commented on #157
Hi everyone!

In most cases Cloud SDK or the package manager on your system installs packages `app-engine-python` and `app-engine-python-extras` **inside Cloud SDK itself**, i.e. if your Cloud SDK resides in `/usr/lib64/google-cloud-sdk/`, the packages will only be available in `/usr/lib64/google-cloud-sdk/platform/google_appengine`. Cloud SDK will **NOT** add this directory to your `PYTHONPATH`,

[2020-01-23 01:49] #157 closed

[2020-02-11 01:08] miketruty opened #256 "bookshelf error on App Engine: "ImportError: cannot import name 'secure_filename' from 'werkzeug'""
Manifests in App Engine by showing:

502 Bad Gateway
nginx

Look in the logs, to see the whole traceback:

Traceback (most recent call last):
File "/env/lib/python3.7/site-packages/gunicorn/arbiter.py", line 583, in spawn_worker worker.init_process()
File "/env/lib/python3.7/site-packages/gunicorn/workers/gthread.py", line 104, in init_process super(ThreadWorker, self).init_process()
File "/env/li

[2020-02-11 01:15] miketruty commented on #256
We see this in multiple labs right now. Here's one.
https://www.qwiklabs.com/focuses/6073?catalog_rank=%7B%22rank%22%3A3%2C%22num_filters%22%3A1%2C%22has_search%22%3Atrue%7D&parent=catalog&search_id=4626184

[2020-02-11 17:04] miketruty commented on #256
Merge fixed issue in my testing.

[2020-02-11 17:04] #256 closed

[2020-02-20 14:19] kiptoomm commented on #256
it appears that a temporary workaround is to revert werkzeug to v0.16.1:

https://github.com/puckel/docker-airflow/issues/499#issue-561766591

[2020-02-25 22:41] tbpg opened #258 "testing: enable the Build Cop Bot"
Instructions here: https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop

[2020-02-25 22:53] tbpg commented on #258
I installed the bot on the repo (first step of the instructions). We still need to call the `buildcop` binary to publish the test logs.

[2020-03-02 19:20] #258 closed

[2020-03-28 17:19] galeanodairo commented on #256
You should use
from werkzeug.utils import secure_filename

[2020-04-03 11:39] Khantanjil commented on #256
@galeanodairo thats worked, change the `from werkzeug import secure_filename` **to`from werkzeug.utils import secure_filename`**. Thanks!

[2020-05-25 04:11] jackchi opened #266 "Cannot upload image"
Hello there,

I'm following the Getting Started -> bookshelf App and I made sure that I have setup the Pre-reqs like - configuring billing, creating app engine, creating a Firestore, the app is running both deployed and in development mode but is there some API being out of date here?
https://gothic-span-272921.uc.r.appspot.com/

[code]

[2020-05-25 04:31] jackchi commented on #266
Nevermind. The tutorial first doesn't allow you to upload the image.

[2020-05-25 04:31] #266 closed

[2020-06-06 02:51] YashKhare143 commented on #256
tx brother

[2020-07-10 00:53] tmatsuo commented on #249
@TheRoyalTnetennba So can we close this now?

[2020-07-10 00:54] #249 closed

[2020-07-18 13:07] onavsaber commented on #92
I have the same issue, following the steps [here](https://cloud.google.com/python/django/appengine). The app runs fine locally, but gives the same error as mentioned when deployed. Are there any solutions?

[2020-08-18 04:44] linhnt2803 commented on #157
I know this issue may be resolved in many ways. but with support from this article [here](https://medium.com/@maanavshah/fixing-python-import-error-no-module-named-appengine-ebcb540e7f18), I encapsulate my solution to adding something like this to ```__init__.py``` file. Hope this helps!
[code]

[2020-08-27 18:33] tmatsuo opened #283 "cleanup: snippet-bot full scan"
## snippet-bot scan result
Life is too short to manually check unmatched region tags.
Here is the result:
Great job! No unmatching region tags found!

---
Report generated by [snippet-bot](https://github.com/apps/snippet-bot).
If you find problems with this result, please file an issue at:
https://github.com/googleapis/repo-automation-bots/issues.

[2020-08-27 18:34] tmatsuo commented on #283
The repo is clean!

[2020-08-27 18:34] #283 closed

[2020-09-09 09:20] tr31zh commented on #256
Thanks.

[2020-12-02 15:35] NickFranceschina commented on #157
So for me (and I believe also @ThiagoMusico ) this is an issue inside of the Google Cloud Shell.  So here are the steps to explain it clearly:

Go open a brand-spanking-new empty Google Shell:
  [https://shell.cloud.google.com/](https://shell.cloud.google.com/)

type @michaelawyu 's command line here to see the path app engine SDK is installed at:
[code]

NOTE that the SDK has a `google_appengine/

[2021-01-21 13:01] forking-renovate[bot] opened #312 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-02-03 19:10] yomikoye commented on #168
Hi everyone!
I'd appreciate some pointers on how you solved this problem @VelizarVESSELINOV. I see "async" is now a reserved word in python so I changed modified the variable name which cleared that problem. However, I am having issues with the other dependencies as well. Is there any way to confirm which python version was used for the project as it was not included in the requirements.txt file?

[2021-02-13 03:27] TheRook commented on #157
Why isn't google using this????????

[2021-02-24 15:47] jose-nuno-sousa opened #328 "Bookshelf requirements dependencies broken"
While doing the QwikLabs Fundamentals of Cloud Logging at https://google.qwiklabs.com/focuses/10911?parent=catalog I run into the issue of having conflicting versions for `google-cloud-logging` and `google-cloud-error-reporting` when running `pip3 install -r requirements.txt`

I do not know if there are specific version requirements in the project, but I've ended up changing the [requirements.txt

[2021-02-25 00:54] tmatsuo commented on #328
@jose-nuno-sousa Thanks for the report. I'll take a look.

What were the versions of Python and OS?

Our periodic builds are passing, so I'd like to know how to reproduce the problem.

[2021-02-25 09:24] jose-nuno-sousa commented on #328
@tmatsuo I've run it in Google Cloud Shell:
[code]
[code]

As for Python:
[code]

To reproduce the issue I've followed the Qwiklabs instructions, cloned the repo, went to the bookshelf folder and from a virtualenv for python3 run the pip install of the requirements.txt:
[code]

It fails with the following message:
[code]

Just to confirm:
[code]

[2021-02-25 17:48] tmatsuo commented on #328
@jose-nuno-sousa Thanks for the detailed info, it's very helpful.

[2021-03-03 01:11] #328 closed

[2021-03-25 17:10] jubeira commented on #157
@NickFranceschina I had your exact same issue, described in https://github.com/GoogleCloudPlatform/getting-started-python/issues/157#issuecomment-737307802.

You probably have `google` in `sys.modules`, which takes precedence over sys paths.
Try this to verify (assuming you have `google-cloud-sdk` in either `PATH` or `PYTHONPATH`):
[code]

[2021-04-26 07:23] rahul799 opened #344 "1-hello-world Directory won't exist"
I was following [this](https://cloud.google.com/python/monitor-and-debug/uptime-alert) tutorial and as per the steps mentioned, there must be a folder named **1-hello-world** inside the repo which I can't find here.
I think it's renamed to [gce](https://github.com/GoogleCloudPlatform/getting-started-python/tree/main/gce) now but the docs must be updated.

[2021-04-27 19:27] dandhlee commented on #344
Thanks for filing this! I'll look into see what we can do to fix this.

[2021-06-03 14:26] zarandr opened #357 "Conflicting dependencies in bookshelf app"
pip gives me this error:

ERROR: Cannot install -r requirements.txt (line 5) and google-cloud-logging==2.4.0 because these package versions have conflicting dependencies.

The conflict is caused by:
    The user requested google-cloud-logging==2.4.0
    google-cloud-error-reporting 1.1.2 depends on google-cloud-logging<2.4 and >=1.14.0

To fix this you could try to:
1. loosen the range of package

[2021-06-03 17:34] dandhlee commented on #357
Thanks for bringing this up! #356 should fix this issue.

[2021-06-07 16:00] #357 closed

[2021-07-30 14:28] romanodev opened #382 "issues following tutorial"
Hi,

I am following the tutorial regarding gce. I cloned this repository and create the instance. However, it seems there is an issue with honcho (see log below). Thanks!

Jul 30 14:25:18 my-app-instance GCEMetadataScripts[731]: 2021/07/30 14:25:18 GCEMetadataScripts: startup-script: supervisorctl reread
Jul 30 14:25:19 my-app-instance GCEMetadataScripts[731]: 2021/07/30 14:25:19 GCEMetadataScript

[2021-08-03 17:27] busunkim96 commented on #382
Hi @romanodev,

Thanks for filing an issue. I see the same error when I follow the instructions here: https://cloud.google.com/python/docs/getting-started/getting-started-on-compute-engine#create_and_configure_a_compute_engine_instance

I'll investigate a bit more and put together a PR to fix the tutorial.

[2021-08-03 17:29] romanodev commented on #382
@busunkim96 , thanks. As a reference, this tutorial seems to work

https://cloud.google.com/memorystore/docs/redis/connect-redis-instance-gce#python_1

[2021-08-04 03:41] dandhlee commented on #344
Filed internal change to update the docs.

[2021-08-04 03:55] dandhlee commented on #242
Hi there! Sorry for the late reply.

The snippet in question now no longer exists in this repo. Please follow the updated tutorial on https://cloud.google.com/python/docs/getting-started/getting-started-on-compute-engine, let me know if you run into any issues again! :)

[2021-08-04 03:55] #242 closed

[2021-08-04 03:58] dandhlee commented on #165
Hi there! Sorry for the late reply. Let me investigate a bit more into where this can happen, not an OAuth expert so I'll need to do some homework.

[2021-08-04 04:05] dandhlee commented on #165
Similar to the example mentioned in SO: https://github.com/mitsuhiko/flask-oauth/blob/master/example/google.py, it would fall under `bookshelf/main.py`. The code now looks like this: (adding in line numbers to help)

[code]
if you wanted to add OAuth bit, you'd add a bit of a section after the snippet above:
[code]
Note that the SO post talks about `HD` flag being discouraged. This answer is long

[2021-08-04 04:05] #165 closed

[2021-08-04 16:03] dandhlee commented on #344
The page has been updated to use the new directory name. Please re-open this issue for file another issue if there's any other issues :D

[2021-08-04 16:03] #344 closed

[2021-08-05 01:05] bmalthi commented on #382
I’m getting the same error. I think the error starts because the python virtual environment isn’t being activated, and thus the honcho dependencies aren’t being installed.

Further up in the output I get, after the step running
Source bin/activate to start the virtual environment

I get an error from that script saying
# This file must be used with “source bin/activate” *from bash*

[2021-08-30 09:22] forking-renovate[bot] opened #388 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-01 22:02] busunkim96 opened #392 "Add tests and automated CI"
Samples in this repository are used in several published Google Cloud tutorials.

Some directories have no tests and others have test coverage that may be too low to properly meet the [user journey testing requirement](https://g3doc.corp.google.com/company/teams/cloud-devrel/dpe/policies/testing.md?cl=head), leading to issues like #382.

**Tasks**:

- Add tests to all subdirectories.
- Check tests

[2021-09-01 22:20] danoscarmike commented on #392
@busunkim96 @parthea please prioritize this one between you 🙏🏻

[2021-09-17 15:27] #388 closed

[2021-10-19 21:38] #312 closed

[2021-11-12 16:57] martinjbaker commented on #382
Is there any short term workaround for this?

[2022-01-23 11:25] dandhlee opened #426 "Update testing infrastructure to use Python 3.7 or higher"
Python3.6 has reached end of life and currently is the version being used for the testing infrastructure. We should update to use a higher version, and possibly make it easier to change the versions around.

[2022-01-23 11:51] #426 closed

[2022-02-08 01:20] #382 closed

[2022-02-08 01:26] parthea commented on #382
I've confirmed that the gce tutorial is now working with the changes in #430.

[2022-03-08 01:20] leifadev commented on #207
@bshaffer I have done this and I get the error still

[code]

[2022-04-01 16:04] busunkim96 opened #450 "Update the Ops Agent script via GitHub Workflow"
https://github.com/GoogleCloudPlatform/getting-started-python/pull/449 commits the Ops Agent script to the repository. Consider  setting up a job to periodically fetch the script from source.

[2022-04-04 14:03] parthea commented on #392
Clean up seemed more appropriate as this is technical debt. I add this to our internal audit for technical debt in GitHub repositories so it will be prioritized along with other technical debt.

[2022-06-07 16:15] dandhlee opened #468 "Update primary reviewer to python-samples-reviewers"
python-sample-owners looks only after the python-docs-samples repo, so we should update it here to ask reviews for python-sample-reviewers instead.

[2022-07-08 15:37] #468 closed

[2022-08-09 01:12] #392 closed